{% extends 'appomatic_doctoad/base.html' %}
{% load i18n %}
{% load doctoad %}

{% block menu %}
  <li><a href="{% url 'appomatic_doctoad.views.index' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Documents{% endblocktrans %}</a></li>
  <li class="active"><a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Differences{% endblocktrans %}</a></li>
  <li><a href="{% url 'appomatic_doctoad.views.log' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Log{% endblocktrans %}</a></li>
{% endblock %}

{% block content %}
  {% for filename, content in repo.diff.items %}
    <h2><a href="{% url 'appomatic_doctoad.views.file' %}?treeish={{request.GET.treeish}}&file={{filename}}">{{filename}} <i class="icon-edit"></i></a></h2>
    <div class="viewable">{{content}}</div>
  {% endfor %}

{% endblock %}
