{% extends 'appomatic_doctoad/base.html' %}
{% load i18n %}
{% load doctoad %}

{% block btnsuccess1 %}btn-default{% endblock %}

{% block menu %}
  <li><a href="{% url 'appomatic_doctoad.views.index' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Documents{% endblocktrans %}</a></li>
  {% if request.GET.treeish and request.GET.treeish != 'master' %}
    <li><a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Differences{% endblocktrans %}</a></li>
  {% endif %}
  <li><a href="{% url 'appomatic_doctoad.views.log' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Log{% endblocktrans %}</a></li>
  <li class="active"><a href="#">{% blocktrans %}Fixing clashing change{% endblocktrans %}</a></li>
{% endblock %}

{% block content %}
  <form method="POST" class="form-inline" role="form">
    {% csrf_token %}
    <a class="btn {% block btnsuccess2 %}btn-success{% endblock %} popover-trigger" title="{% blocktrans %}Name of change:{% endblocktrans %}" data-content="
        <div class='form-group'><input type='text' name='description' class='form-control' value='{{request.GET.treeish}}-fix'></div>
        <button class='btn btn-success' type='submit' value='save'><i class='icon-save'></i> {% blocktrans %}Save{% endblocktrans %}</button>
    " href="javascript: void(0);"><i class="icon-save"></i> {% blocktrans %}Save changes{% endblocktrans %}</a>    
    {% for filename in repo.clashing_files %}
      <h2>{{filename}}</h2>
      <input type="hidden" name="{{filename|slugify}}_name" value="{{filename}}">
      <textarea id="{{filename|slugify}}_source" name="{{filename|slugify}}_source" style="display: none;">{{repo|method:"cat_file"|arg:filename|call|safe}}</textarea>
      <br><br>
      <div id="{{filename|slugify}}" class="editable"></div>
    {% endfor %}
  </form>
{% endblock %}
