{% extends 'appomatic_doctoad/base.html' %}
{% load i18n %}

{% block menu %}
  <li class="active"><a href="{% url 'appomatic_doctoad.views.index' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Documents{% endblocktrans %}</a></li>
  {% if request.GET.treeish and request.GET.treeish != 'master' %}
    <li><a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Differences{% endblocktrans %}</a></li>
  {% endif %}
  <li><a href="{% url 'appomatic_doctoad.views.log' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Log{% endblocktrans %}</a></li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% blocktrans %}Documents{% endblocktrans %}
          <a class="pull-right popover-trigger" title="{% blocktrans %}Create new document:{% endblocktrans %}" data-content="
            <form style='white-space: nowrap;' class='form-inline' method='GET' action='{% url 'appomatic_doctoad.views.file' %}?treeish={{request.GET.treeish}}'>
              <div class='form-group'><input class='form-control' type='text' name='file'></div>
              <div class='form-group'><button type='submit' class='btn btn-default'>{% blocktrans %}Add{% endblocktrans %}</button></div>
            </form>
          " href="javascript: void(0);"><i class="icon-plus"></i></a>
        </div>
        <div class="list-group">
          {% for file in repo.ls_files %}
            <a class="list-group-item" href="{% url 'appomatic_doctoad.views.file' %}?treeish={{request.GET.treeish}}&file={{file}}">{{file}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {% if repo.branches %}
        <div class="panel panel-default">
          <div class="panel-heading">
            {% if repo.treeish == 'master' %}
              {% blocktrans %}Change requests{% endblocktrans %}
            {% else %}
              {% blocktrans %}Updates{% endblocktrans %}
            {% endif %}
          </div>
          <div class="list-group">
            {% for node in repo.branches %}
              <div class="list-group-item">
                {% if node.children %}
                  <a class="badge pull-right" data-toggle="collapse" href="#{{node.treeish}}-children">{{node.children|length}}</a>
                {% endif %}
                {%if node.treeish == 'closed' %}
                  <a data-toggle="collapse" href="#{{node.treeish}}-children">{% blocktrans %}Closed{% endblocktrans %}</a>
                {% else %}
                  <a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{node.treeish}}">{{node.description}}</a>
                {% endif %}
                {% if node.children %}
                  <div id="{{node.treeish}}-children" class="collapse panel panel-default">
                    <div class="list-group">
                      {% for subnode in node.children %}
                        <div class="list-group-item"><a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{subnode.treeish}}">{{subnode.description}}</a></div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
