{% extends 'appomatic_doctoad/base.html' %}
{% load i18n %}
{% load doctoad %}

{% block menu %}
  <li><a href="{% url 'appomatic_doctoad.views.index' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Documents{% endblocktrans %}</a></li>
  {% if request.GET.treeish and request.GET.treeish != 'master' %}
    <li><a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Differences{% endblocktrans %}</a></li>
  {% endif %}
  <li class="active"><a href="{% url 'appomatic_doctoad.views.log' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Log{% endblocktrans %}</a></li>
{% endblock %}

{% block content %}

  {% for commit in repo.log %}
     <div class="panel panel-default">
       <div class="panel-heading">
         <a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{commit.id}}">{{commit.comment}}</a>
         {% blocktrans %}by{% endblocktrans %}
         {{commit.author}}
         <span class="pull-right">{{commit.date}}</span>
       </div>
       <div class="list-group">
         {% for filename, content in commit.files.items %}
           <div class="list-group-item">
             <h3>{{filename}}</h3>
             <div class="viewable">{{content}}</div>
           </div>
         {% endfor %}
       </div>
     </div>
   {% endfor %}

{% endblock %}
