{% extends 'appomatic_doctoad/base.html' %}
{% load i18n %}
{% load doctoad %}

{% block menu %}
  <li><a href="{% url 'appomatic_doctoad.views.index' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Documents{% endblocktrans %}</a></li>
  {% if request.GET.treeish and request.GET.treeish != 'master' %}
    <li><a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Differences{% endblocktrans %}</a></li>
  {% endif %}
  <li class="active"><a href="{% url 'appomatic_doctoad.views.log' %}?treeish={{request.GET.treeish}}">{% blocktrans %}Log{% endblocktrans %}</a></li>
{% endblock %}

{% block content %}

  {% for commit in repo.log %}
     <h2><a href="{% url 'appomatic_doctoad.views.change' %}?treeish={{commit.id}}">{{commit.comment}}</a></h2>
     {% blocktrans with author=commit.author date=commit.date %}
       <div>Author: {{author}}</div>
       <div>Date: {{date}}</div>
     {% endblocktrans %}
     {% for filename, content in commit.files.items %}
       <h3>{{filename}}</h3>
       <div class="viewable">{{content}}</div>
     {% endfor %}
   {% endfor %}

{% endblock %}
