{% extends 'appomatic_doctoad/base.html' %}
{% load i18n %}
{% load doctoad %}

{% block content %}
  {% for filename, content in repo.simplified_diff.iteritems %}
    {% for heading, lines in content %}
      {% for line in lines %}
        <div class="simplified-change">
          {% url 'appomatic_doctoad.views.change' as changeurl %}
          {% blocktrans with before=line.before after=line.after heading=heading filename=filename changeurl=site_url|add:changeurl|add:"?treeish="|add:request.GET.treeish %}
            To change
            <blockquote class="version-one viewable">{{before}}</blockquote>
            into
            <blockquote class="version-two viewable">{{after}}</blockquote>
            under <em class="heading">{{heading}}</em> in <em class="filename">{{filename}}</em>. For details see the change in DocToad: <a href="{{changeurl}}">{{changeurl}}</a>.
          {% endblocktrans %}
        </div>
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endblock %}
